<div class="container">

  <div class="menu">
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}} title="Click to logout">Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}} |
      {{#link-to 'register'}}Register{{/link-to}}
    {{/if}}

    <div class="links" style="display:inline;">
      <li>
        {{#link-to 'posts'}}
          Blog posts
        {{/link-to}}
      </li>
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>

</div>
